.container-paginacao{
    height: 100%;
}

.item-pagina{
    height: 100%;
    width: 50px;
    border-top: 1px solid var(--corPaginacao);
    border-bottom: 1px solid var(--corPaginacao);
    border-right: 1px solid var(--corPaginacao);
    cursor: pointer;
}

.link-item-pagina{
    color: var(--corPaginacao);
    font-weight: bold;
    display: block;
}

.pagina-atual{
    background-color: var(--corPaginacao);
}

.pagina-atual > a{
    color: var(--corPaginacaoSelecionado);
}

.link-item-pagina:hover{
    text-decoration: none;
}

.item-pagina:first-child{
    border-left: 1px solid var(--corPaginacao);
}

.container-paginacao li {
    display: flex;
    align-items: center;
    justify-content: center;
}
