.container-paginacao{
    height: 100%;
}

.item-pagina{
    height: 100%;
    width: 50px;
    border-top: 1px solid var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    border-right: 1px solid var(--primary-color);
    cursor: pointer;
}

.link-item-pagina{
    color: var(--primary-color);
    font-weight: bold;
    display: block;
}

.pagina-atual{
    background-color: var(--primary-color);
}

.pagina-atual > a{
    color: white;
}

.link-item-pagina:hover{
    text-decoration: none;
}

.item-pagina:first-child{
    border-left: 1px solid var(--primary-color);
}
