#container-resultado-busca{
    background-color: var(--cor-primaria);
    border: var(--cor-terciaria) 1px solid;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    color: white;
}

.linha-resultado-busca{
    padding: 5px 0px;
}

.linha-resultado-busca:hover{
    cursor: pointer;
}