#container-login{
    height: 400px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    display: grid;
    grid-template-areas: 
    "login-titulo"
    "login-corpo";
    grid-template-rows: 100px auto;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
}

.container-corpo-login{
    width: 15rem;
}

#login-titulo{
    grid-area: login-titulo;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-grow: 1;
    padding: 10px;
    flex-direction: column;
}

#login-corpo{
    grid-area: login-corpo;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.titulo-aponta{
    font-weight: bold;
    font-size: 25px;
    color: var(--cor-primaria);
}

#botao-login{
    color: white;
    background-color: var(--cor-primaria);
    border-color: var(--cor-primaria);
    border-radius: 0 !important;
    height: calc(1.5em + .75rem + 10px) !important;
}

@media (min-width: 1200px){
    #container-login{
        height: 25rem;
        width: 25rem;
    }
}