#container-totais-apontamentos{
    display: grid;
    height: 450px;
    grid-template-areas: 
    "busca-totais-apontamentos"
    "itens-totais-apontamentos"
    "paginacao-totais-apontamentos";
    grid-template-rows: 70px calc(90% - 70px) auto;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 15px 6px rgba(0,0,0,0.3);
}

#busca-totais-apontamentos{
  grid-area: busca-totais-apontamentos;
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

#itens-totais-apontamentos{
    max-height: 100%;
    grid-area: itens-totais-apontamentos;
    overflow-y: auto;
    overflow-x: hidden;
}

#paginacao-totais-apontamentos{
    display: flex;
    grid-area: paginacao-totais-apontamentos;
    padding: 2px 0px;
    justify-content: center;
}

#busca-totais-apontamentos div {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

#busca-totais-apontamentos div > button {
  position: absolute;
  right: 10px;
}

#busca-totais-apontamentos div > i {
  position: absolute;
  right: 10px;
}

#busca-totais-apontamentos div button {
  margin-top: 4px;
}

#busca-totais-apontamentos div i {
  opacity: 0.6;
}

#busca-totais-apontamentos div input {
  width: 100%;
  text-align: center;
  padding-right: 30px;
}

@media (min-width: 1200px){
  #container-totais-apontamentos{
    height: 600px;
  }

  #busca-totais-apontamentos div {
    width: 40%;
  }
}