
.Toastify__toast--success {
  background: var(--cor-primaria) !important;
}
.Toastify__toast--warning {
  background: var(--cor-terciaria) !important;
}
.Toastify__toast--error {
  background: white !important;
  border: var(--cor-primaria) !important;
  color: var(--cor-primaria) !important;
}

.Toastify__toast--error > .Toastify__progress-bar {
  background-color: var(--cor-terciaria) !important;
}