
.Toastify__toast--success {
  background: var(--primary-color) !important;
}
.Toastify__toast--warning {
  background: var(--tertiary-color) !important;
}
.Toastify__toast--error {
  background: white !important;
  border: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.Toastify__toast--error > .Toastify__progress-bar {
  background-color: var(--tertiary-color) !important;
}