.close-modal {
  font-size: 1.5rem;
  color: white;
  float: right;
}

.padrao-modal{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.modal-header{
  border-radius: 0 !important ;
}

.modal-content{
  border: 1px solid var(--primary-color);
  border-radius: 0 !important ;
  background-color: var(--primary-color);
}

.modal-footer{
  border-radius: 0 !important;
}