.close-modal {
  font-size: 1.5rem;
  color: white;
  float: right;
}

.padrao-modal{
    border-color: var(--cor-primaria);
    background-color: var(--cor-primaria);
}

.modal-header{
  border-radius: 0 !important ;
}

.modal-content{
  border: 1px solid var(--cor-primaria);
  border-radius: 0 !important ;
  background-color: var(--cor-primaria);
}

.modal-footer{
  border-radius: 0 !important;
}