.container-carregando{
    min-height: auto;
    height: 100%;
    width: 100%;
}

.icone-carregando{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 20px;
    color: #105AAD;
}