.dropdown {
    height: calc(1.5em + .75rem + 10px) !important;
    width: 100%;
    position: relative;
    display: inline-block;
    color: white;
    border-radius: 0 !important;
    font-weight: 400;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
  }

.dropdown-content {
    margin-top: 20px;
  width: 100%;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px var(--primary-color);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

.dropdown:hover{
  padding: 0;
}

.dropdown-primary{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.dropdown-secondary{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.dropdown-tertiary{
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

.dropdown-alternative {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}