#container-item-lista-apontamento{
    display: grid;
    grid-template-areas: 
    "item-lista-apontamento-titulo item-lista-apontamento-titulo"
    "item-lista-apontamento-cliente item-lista-apontamento-cliente"
    "item-lista-apontamento-descricao item-lista-apontamento-descricao"
    "item-lista-apontamento-acao item-lista-apontamento-acao";
    grid-template-columns: 50% 50%;
    height: 200px;
    width: 100%;
    background-color: #105AAD;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow:  0 0 0.3em black ;
    padding: 10px;
    text-align: left;
}


#item-lista-apontamento-titulo{
    grid-area: item-lista-apontamento-titulo;
    color: white;
}

#item-lista-apontamento-cliente{
    grid-area: item-lista-apontamento-cliente;
    color: white
}

#item-lista-apontamento-descricao{
    grid-area: item-lista-apontamento-descricao;
    color: white
}

.alinhamento-texto-item-apontamento{
    text-align: center;
}

#item-lista-apontamento-acao{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: item-lista-apontamento-acao;
}

.item-apontamento-titulo{
    background-color: #C46D08;
    color: white;
    font-weight: bold;
    height: auto;
}

@media (min-width:1200px){
    #container-item-lista-apontamento{
    display: grid;
    grid-template-areas: 
    "item-lista-apontamento-titulo item-lista-apontamento-titulo item-lista-apontamento-acao"
    "item-lista-apontamento-cliente item-lista-apontamento-cliente item-lista-apontamento-acao"
    "item-lista-apontamento-descricao item-lista-apontamento-descricao item-lista-apontamento-acao";
    grid-template-columns: 36% 36% 28%;
    height: 90px;
    width: 100%;
    background-color: #105AAD;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow:  0 0 0.3em black ;
    padding: 10px;
    text-align: left;
    }
    
    .alinhamento-texto-item-apontamento{
        text-align: left;
    }
}