#container-app {
    text-align: center;
    display: grid;
    height: 100vh;
    grid-template-areas:
    "espaco-esq" 
    "espaco-cen";
    grid-template-rows: auto auto;
    background-color: #2F8EFA;
}

#espaco-cen{
    grid-area: espaco-cen;
    display: grid;
    grid-template-areas: 
    "espaco-cen-cabecalho"
    "espaco-cen-corpo";
    grid-template-rows: auto auto;
}

#espaco-esq{
    grid-area: espaco-esq;
    padding: 10px;
}

#espaco-cen-cabecalho{
    grid-area: espaco-cen-cabecalho;
    padding: 10px;
}

#espaco-cen-corpo{
    grid-area: espaco-cen-corpo;
    padding: 10px;
    display: flex;
    justify-content: center;
}

#sideBar {
    grid-area: sideBar;
    padding: 0px;
    width: 10%;
    flex-grow: 1;
    flex-direction: row;
  }

@media (min-width: 1200px){
   #container-app {
        text-align: center;
        display: grid;
        grid-template-areas: "espaco-esq espaco-cen espaco-dir";
        grid-template-columns: 20% 60% 20%;
        min-height: 100vh;
        max-height: 100vh;
        background-color: #2F8EFA;
        overflow: hidden !important;
    }
    
    #espaco-esq{
        grid-area: espaco-esq;
        padding: 10px;
        display: flex;
    }
    
    #espaco-dir{
        grid-area: espaco-dir;
        padding: 10px;
    }
    
    #espaco-cen{
        grid-area: espaco-cen;
        display: grid;
        grid-template-areas: 
        "espaco-cen-cabecalho"
        "espaco-cen-corpo"
        "espaco-cen-rodape";
        grid-template-rows: 10rem auto 9rem;
    }
    
    #espaco-cen-rodape{
        grid-area: espaco-cen-rodape;
        padding: 10px;
    }

    @media (max-height: 800px){
        #espaco-cen-corpo{
            max-height: 400px;
        }
    
        #espaco-cen{
            grid-template-rows: 10rem auto 5rem;
        }
    }
}
